{ifloop rel="wiretransfer.infos"}
    <p>{intl d='wiretransfer.fo.default' l="You may now do a transfer to this bank account: "}</p>
    {loop name="wiretransfer.infos" type="wiretransfer.get.info" order_id=$placed_order_id}
    <dl class="dl-horizontal">
            <dt>{intl d='wiretransfer.fo.default' l="Account holder name"} : </dt>
            <dd>{$ACCOUNT_HOLDER_NAME}</dd>

            <dt>{intl d='wiretransfer.fo.default' l="IBAN"} : </dt>
            <dd>{$IBAN}</dd>

            <dt>{intl d='wiretransfer.fo.default' l="BIC code"} : </dt>
            <dd>{$BIC}</dd>
    </dl>
    {if $MESSAGE}
        <div class="wire-transfer-message">{$MESSAGE nofilter}</div>
    {/if}
    {/loop}
{/ifloop}
{elseloop rel="wiretransfer.infos"}
    <div class="alert alert-danger">
        {intl d='wiretransfer.fo.default' l="This order has not been paid using a bank transfert"}
    </div>
{/elseloop}
